* {
    font-family: Solway;
}

form {
    width: 20%;
    margin: 0 auto;
}

.form-group {
    margin: 1em 0;
}

button {
    background: black;
    border: thin solid #ccc;
    border-radius: 5px;
    padding: 1em 2em;
    color: white;
    font-size: 1em;
    font-weight: bolder;
}

input {
    padding: 0.5em;
    font-size: 1.5em;
    border: thin solid #ccc;
    border-radius: 5px;
    color: cornflowerblue;
    display: block;
}

table {
    width: 100%;
    margin: 3em 0;
}

td {
    text-align: center;
    width: 16.66%;
    padding: 1em;
    border-bottom: thin solid #ccc;
}

th {
    font-size: 2.25em;
    background: black;
    color: white;
}
